.part-container {
    margin: 100px 50px;
    padding: 15px 0px;
}

.part-box {
    border-left: 20px solid $blue;
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    box-shadow: $box-shadow;
    * {
        padding: 30px;
    }
}
.part-name {
    font-weight: 700;
    font-size: 16pt;
}
.part-start,
.part-end {
    font-size: 12pt;
}
.part-miles {
    font-size: 14pt;
}
