$blue: #02c3ff;
$orange: #ffaa0d;
$orange-light: #ffdd9e;
$black: #000000;
$grey-light: #f0f0f0;
$grey: #7f7f7f;
$grey-dark: $grey / 1.2;

$san-serif: sans-serif;

$box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
